name = "service-api"
main = "src/index.ts"
compatibility_date = "2026-01-01"

# Map the worker to a specific path on your main domain
[[routes]]
pattern = "api.gw2w2w.com/*"
zone_name = "api.gw2w2w.com"

[[kv_namespaces]]
binding = "EMBLEM_ENGINE_GUILD_LOOKUP"
id = "24797f12df1d4f8197edadc01d10535c"

[[r2_buckets]]
binding = "EMBLEM_ASSETS"
bucket_name = "emblem-assets-dev"

[vars]
GW2_API_BASE = "https://api.guildwars2.com/v2"
GW2_API_KEY = "EC40388C-01A7-1045-A143-F36FC2B60664D7F6A3BC-D758-4B0C-8DE1-A3AAB5D660DF"
