name = "web-guilds"
main = ".open-next/worker.js"
compatibility_date = "2026-01-01"

compatibility_flags = ["nodejs_compat", "global_fetch_strictly_public"]

# Static assets for open-next
# This replaces the "assets" configuration from wrangler.jsonc
# The binding for this is `__STATIC_CONTENT__` by default. The open-next
# adapter should be configured to use this binding.
[site]
bucket = ".open-next/assets"

[[services]]
binding = "WORKER_SELF_REFERENCE"
service = "web-guilds"

[[services]]
binding = "SERVICE_EMBLEM"
service = "service-emblem"

[[services]]
binding = "SERVICE_GW2API"
service = "service-gw2api"

[images]
# Enable image optimization
# see https://opennext.js.org/cloudflare/howtos/image
binding = "IMAGES"

[[kv_namespaces]]
binding = "EMBLEM_ENGINE_GUILD_LOOKUP"
id = "24797f12df1d4f8197edadc01d10535c"

[[r2_buckets]]
binding = "EMBLEM_ASSETS"
bucket_name = "emblem-assets-dev"

[vars]
GW2_API_BASE = "https://api.guildwars2.com/v2"
