name = "service-emblem"
main = "src/index.ts"
compatibility_date = "2026-01-01"

# Map the worker to a specific path on your main domain
[[routes]]
pattern = "guilds.gw2w2w.com/emblem/*"
zone_name = "guilds.gw2w2w.com"

# Crucial for Photon/Wasm on Cloudflare
[[rules]]
globs = ["**/*.wasm"]
type = "CompiledWasm"
fallthrough = false

[[services]]
binding = "SERVICE_API" # The variable name available in env
service = "service-api" # The name of the target worker

[[kv_namespaces]]
binding = "EMBLEM_ENGINE_GUILD_LOOKUP"
id = "24797f12df1d4f8197edadc01d10535c"

[[r2_buckets]]
binding = "EMBLEM_ASSETS"
bucket_name = "emblem-assets-dev"

[vars]
GW2_API_BASE = "https://api.guildwars2.com/v2"
